/* Renk Paleti: https://coolors.co/8ecae6-219ebc-023047-ffb703-fb8500 */

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #023047;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #fb8500;
}
header,
footer {
  background: #023047;
  border-bottom: 5px solid #219ebc;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* mobilde alt satıra geçmesi için */
}
header a,
footer a {
  color: #8ecae6;
}
footer {
  border-bottom: inherit;
  border-top: 5px solid #219ebc;
}
.responsive {
  width: 100%;
  height: auto;
}
article,
main {
  max-width: 768px;
  margin: 0 auto;
}
#topLink {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}
